<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{hypervisor}} virtual machines list</title>
<!--    <meta http-equiv="refresh" content="2">-->
<!--    TODO spustit-->
</head>
<body>
    <h1>{{hypervisor}} virtual machines list at {{node}}</h1>
    <button type="button" onclick="window.location.href='{% url 'create_vm' db_connection_id=db_connection_id node_name=node %}'">
        Create VM
    </button>
    <ul>
        {% for item in vms %}
        <li>
            <p>{{item.name}}</p>
            <ul>
                <li>CPUs: {{item.cpus}}</li>
                <li>CPU usage: {{item.cpu_usage}}%</li>
                <li>Status: {{item.status}}</li>
                <li>Max memory: {{item.maxmem}}GiB</li>
                <li>Memory usage: {{item.mem_usage}} GiB</li>
                <li>vmid: {{item.vmid}}</li>
                <li>Uptime: {{item.uptime}}</li>
                <button type="button" onclick="window.location.href='{% url 'vm_start' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Start VM
                </button>
                <button type="button" onclick="window.location.href='{% url 'vm_suspend' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Suspend VM
                </button>
                <button type="button" onclick="window.location.href='{% url 'vm_stop' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Stop VM
                </button>
                <button type="button" onclick="window.location.href='{% url 'vm_delete' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Delete VM
                </button>
                <button type="button" onclick="window.location.href='{% url 'create_snapshot' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Create snapshot
                </button>
                <button type="button" onclick="window.location.href='{% url 'edit_vm' db_connection_id=db_connection_id node_name=node vmid=item.vmid %}'">
                    Edit VM
                </button>



            </ul>

        </li>
        {% endfor %}
    </ul>
</body>
</html>