<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{hypervisor}} virtual storages list at {{node}} </title>
</head>
<body>
    <h1>{{hypervisor}} virtual storages list at {{node}}</h1>
    <ul>
        {% for item in storages %}
        <li>
            <p>{{item.storage}}</p>
            <ul>
                <li>Size: {{item.total}}GiB</li>
                <li>Used: {{item.used}}GiB</li>
                <li>Free: {{item.avail}}GiB</li>
                <li>Type: {{item.type}}</li>
                <li>Enabled: {{item.enabled}}</li>
            </ul>
        </li>
        </br>
        {% endfor %}
    </ul>

</body>
</html>