<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storage detail of {{storage}}</title>
</head>
<body>
    <h1>Storage detail of {{storage}}</h1>
    {% for item in data %}
        <p>{{item.volid}}</p>
        {% for key, value in item.items %}
            <ul>
            {% if key != 'volid' %}
                <li>{{key}}: {{value}}</li>
            {% endif %}
            </ul>

        {% endfor %}
    <br>
    {% endfor %}

    <a href="{% url 'list_storages' db_connection_id=db_connection_id node_name=node %}">Back to storages list</a>

</body>
</html>