<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storage detail of {{storage}}</title>
</head>
<body>
    <h1>Storage detail of {{storage}}</h1>
    {% for item in data %}
        <ul>
            <li>Content {{item.content}}</li>
            <li>Format: {{item.format}}</li>
            <li>Size: {{line.size}}GiB</li>
            <li>Used: {{line.used}}GiB</li>
        </ul>

    {% endfor %}

    <a href="{% url 'list_storages' db_connection_id=db_connection_id node_name=node %}">Back to storages list</a>

</body>
</html>